* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 0.5rem;
}

ul {
  list-style: disc;
  margin-left: 1.5rem;
  line-height: 2rem;
}

table {
  border-collapse: collapse;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
